*.pyc
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
*.gz
*.gz
pypi/coppertop/MANIFEST
pypi/coppertop/coppertop.egg-info/dependency_links.txt
pypi/coppertop/coppertop.egg-info/PKG-INFO
pypi/coppertop/coppertop.egg-info/SOURCES.txt
pypi/coppertop/coppertop.egg-info/top_level.txt
pypi/coppertop/MANIFEST
pypi/coppertop/MANIFEST

.DS_Store

pypi/core/core

pypi/dm/dm
